
@font-face {
    font-family: 'AvenirNextCyr-Demi';
    src: url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff') format('woff'), url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf')  format('truetype'), url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNextCyr-Medium';
    src: url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff') format('woff'), url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.ttf')  format('truetype'), url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold/Roboto-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium/Roboto-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

a{
    transition: 0.3s;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background: url("../images/header-bg.png") top center no-repeat;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 105px;
}

.header__logo{
    width: 115px;
    height: 60px;
}

.header__logo img{
    width: 100%;
}

.header__menu{
    margin: 0 auto;
}

.header__menu-items{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu-item{
    position: relative;
    padding: 0 20px;
}

.header__menu-item:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #9d9d9d;
}


.header__menu-item:last-child:after{
    display: none;
}

.header__menu-link{
    position: relative;
    text-transform: uppercase;
    color: #9d9d9d;
    text-decoration: none;
    font: 14px 'AvenirNextCyr-Demi';
}

.header__menu-link:hover{
    color: #1a7447;
}

.has-submenu .header__menu-link{
    padding-right: 15px;
}

.has-submenu .header__menu-link:after{
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: 4px;
    width: 8px;
    height: 9px;
    transform: rotate(90deg);
    background: url(../images/arr-green.svg) center center no-repeat;
    background-size: contain;
    transition: 0.3s;
}

.has-submenu.open .header__menu-link{
    color: #006a39;
}

.has-submenu.open .header__menu-link:after{
    transform: rotate(-90deg);
}

.submenu{
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s;
    list-style: none;
    margin: 0;
    width: 270px;
    padding: 15px 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.29);
}

.has-submenu.open .submenu{
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.submenu-link{
    font: 14px 'Roboto-Regular';
    text-decoration: none;
    color: #696969;
}

.submenu-item{
    margin-bottom: 20px;
    display: inline-block;
}

.submenu-item:last-child{
    margin-bottom: 0;
}

.header__language{
    margin-left: auto;
    display: flex;
}

.header__language-item{
    position: relative;
    padding: 0 20px;
}

.header__language-item:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #9d9d9d;
}

.header__language-item:last-child:after{
    display: none;
}

.header__language-link{
    text-transform: uppercase;
    color: #9d9d9d;
    text-decoration: none;
    font: 14px 'AvenirNextCyr-Medium';
}

.header__language-item.active .header__language-link{
    color: #ea8d32;
}

.header__right{
    display: flex;
}

.header__cart,
.header__compare,
.header__like{
    width: 30px;
    height: 30px;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    position: relative;
}

.header__cart{
    margin-right: 0;
}

.header__like svg,
.header__compare svg,
.header__cart svg{
    position: relative;
    min-width: 20px;
    height: 16px;
    fill: #7c7c7c;
}


.header__compare svg{
    left: 1px;
}

.header__cart svg{
    top: -1px;
    right: -1px;
}


.header__cart.active,
.header__compare.active,
.header__like.active{
    border-color: #006a39;
}

.header__cart.active svg,
.header__compare.active svg,
.header__like.active svg{
    fill: #006a39;
}

.header__cart-count{
    position: absolute;
    top: -10px;
    right: -8px;
    font: 7px/8px 'AvenirNextCyr-Demi';
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #e77c13;
    border-radius: 50%;
}

.home-top{
    background: #fafafa url("../images/top-bg.png") top center no-repeat;
    padding-top: 180px;
    padding-bottom: 290px;
}

.home-top__title{
    margin: 0;
    font: 70px 'MuseoSansCyrl-300';
    text-transform: uppercase;
    color: white;
    position: relative;
    margin-bottom: 100px;
}

.home-top__title span{
    position: relative;
    z-index: 2;
}

.home-top__title:before{
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: -10px;
    left: -20px;
    background: #006a39;
    border-radius: 50%;
}

.home-top__list-item{
    font: 24px 'Roboto-Regular';
    color: #006a39;
    padding-bottom: 35px;
    position: relative;
}

.home-top__list-item:last-child{
    padding-bottom: 0;
}

.home-top__list-item:before{
    content: "";
    display: block;
    height: 100%;
    border-right: 1px dashed #e77100;
    position: absolute;
    top: 15px;
    left: -20px;
}

.home-top__list-item:last-child:before{
    display: none;
}

.home-top__list-item:after{
    position: absolute;
    display: block;
    content: "";
}

.home-top__list-item:first-child:after{
    width: 13px;
    height: 13px;
    background: #e77100;
    border-radius: 50%;
    left: -26px;
    top: 9px;
}

.home-top__list-item:nth-child(2):after{
    width: 16px;
    height: 16px;
    background: url("../images/home-top-2.svg") center center no-repeat;
    left: -27px;
    top: 7px;
}

.home-top__list-item:nth-child(3):after{
    width: 13px;
    height: 13px;
    background: #e77100;
    border-radius: 35%;
    left: -26px;
    top: 9px;
}

.home-top__list-item:nth-child(4):after{
    width: 15px;
    height: 15px;
    background: url("../images/home-top-4.svg") center center no-repeat;
    left: -27px;
    top: 7px;
}

.home-top__list-item:nth-child(5):after{
    width: 15px;
    height: 15px;
    background: url("../images/home-top-5.svg") center center no-repeat;
    left: -27px;
    top: 7px;
}

.home-top__list-item:nth-child(6):after{
    width: 16px;
    height: 14px;
    background: url("../images/home-top-6.svg") center center no-repeat;
    left: -27px;
    top: 7px;
}

.home-top__img{
    background: url("../images/figura1.svg") center center no-repeat;
    width: 470px;
    height: 560px;
    position: relative;
    margin-top: -180px;
}

.home-top__img-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.home-top__list{
    padding-left: 25px;
}

.home-top__form-wrap{
    position: relative;
    max-width: 840px;
    margin: 0 auto;
}

.home-top__form-wrap:before{
    content: "";
    position: absolute;
    top: -35px;
    left: -35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: white;
}

.home-top__form{
    padding: 35px 30px 45px;
    background: #006a39;
    border-radius: 15px;
    color: white;
    font-family: 'Roboto-Regular';
    display: flex;
    position: relative;
    z-index: 1;
}

.home-top__form-left{
    min-width: 150px;
}

.home-top__form-percent{
    font: 70px/75px 'MuseoSansCyrl-300';
    font-weight: bold;
    color: #e77c13;
}

.home-top__form-caption{
    font-size: 12px;
    max-width: 145px;
    line-height: 18px;
}

.home-top__form-title{
    text-align: center;
    font: 16px 'MuseoSansCyrl-700';
    padding: 4px 0;
}

.home-top__form-title span{
    font: 24px 'MuseoSansCyrl-700';
    text-transform: uppercase;
}

.home-top__form-right{
    width: 100%;
}

.home-top__form-subtitle{
    text-align: center;
    font-size: 14px;
}

.home-top__form-right form{
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-top__form-input{
    height: 35px;
    width: 100%;
    max-width: 220px;
    font: 14px 'Roboto-Regular';
    padding: 0 25px;
    border-radius: 20px;
    border: 0;
    outline: 0;
}

.home-top__form-btn{
    text-transform: uppercase;
    font: 14px 'AvenirNextCyr-Demi';
    padding: 0 30px;
    line-height: 50px;
    color: white;
    background: #e77c13;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.home-top__form-btn:hover{
    box-shadow: 0 0 10px #e77c13;
}

.home-top__form-btn:active,
.home-top__form-btn:focus{
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.39);
}

.site-title{
    font: 32px 'MuseoSansCyrl-300';
    color: #555555;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.site-title h2:before{
    content: "";
    position: absolute;
    top: -6px;
    left: -13px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #b2d235;
    z-index: 1;
}

.site-title h2{
    position: relative;
    margin: 0;
}

.site-title span{
    position: relative;
    z-index: 2;
}

.advantage{
    background: #fafafa url("../images/bg2.png") bottom center no-repeat;
    padding-bottom: 300px;
}

.advantage__items{
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px 0;
}

.advantage__item{
    display: flex;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 15px;
    max-width: calc(25% - 30px);
}

.advantage__item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid #d7e5a2;
    border-top: 1px solid #d7e5a2;
    border-bottom: 1px solid #d7e5a2;
    border-radius: 10px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 30px 0;
}

.advantage__item:nth-child(even) .advantage__item-inner{
    border: 6px solid #d7e5a2;
    border-left: 1px solid #d7e5a2;
    border-right: 1px solid #d7e5a2;
}

.advantage__name{
    font: 16px 'Roboto-Medium';
    color: #636363;
    margin-top: 20px;
    margin-bottom: 15px;
}

.advantage__caption{
    text-align: center;
    font: 14px/20px 'Roboto-Regular';
    padding: 0 20px;
    color: #878787;
}

.advantage__img svg{
    width: 60px;
    height: 55px;
}



.catalog{
    padding-top: 50px;
    padding-bottom: 90px;
    background: #fafafa;
}

.catalog__top{
    margin-top: 50px;
}

.catalog__nav{
    display: flex;
    justify-content: space-between;
}

.catalog__nav-left{
    display: flex;
}

.catalog__nav-left-btn{
    width: 125px;
    text-align: center;
    font: 14px/45px 'AvenirNextCyr-Medium';
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #e77c13;
    color: #636363;
    background: white;
}

.catalog__nav-left-btn:last-child{
    margin-left: 20px;
}

.catalog__nav-left-btn.active{
    background: #e77c13;
    color: white;
}

.catalog__nav-right{
    display: flex;
    align-items: center;
}

.catalog__nav-sort{
    font: 14px 'Roboto-Regular';
    display: flex;
    align-items: center;
}

.catalog__nav-sort span{
    margin-right: 20px;
}

.catalog__nav-sort-link{
    width: 125px;
    text-align: center;
    font: 14px/37px 'Roboto-Regular';
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #636363;
    background: white;
}

.catalog__nav-sort-link + .catalog__nav-sort-link{
    margin-left: 20px;
}

.catalog__nav-sort-link.active{
    background: #b2d235;
    color: white;
}

.catalog__nav-sort-link:first-child{
    margin-left: 20px;
}

.catalog__nav-views{
    margin-left: 30px;
    display: flex;
}

.catalog__nav-view{
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background: white;
    border: 1px solid #e6e6e6;
}

.catalog__nav-view.tile.active{
    background: #b2d235 url("../images/t-1.png") center center no-repeat;
}

.catalog__nav-view.table{
    background: url("../images/t-2.png") center center no-repeat;
}

.catalog__nav-view.list{
    background: url("../images/t-3.png") center center no-repeat;
}

.catalog__nav-view + .catalog__nav-view{
    margin-left: 10px;
}

.catalog__nav-view.active{
    background: #b2d235;
}


.catalog__categories{
    margin: 20px -10px 30px;
    display: flex;
    flex-wrap: wrap;
}

.catalog__category{
    margin: 0 10px;
    width: calc(25% - 20px);
    border: 1px solid #e6e6e6;
    color: #636363;
    background: white;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-family: 'Roboto-Regular';
}

.catalog__category.active{
    background: #b2d235;
    color: white;
}

.products{
    margin: 20px -10px 30px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin: 0 10px 20px;
    width: calc(25% - 20px);
    background: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.04);
}

.product__img{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;
}

.product__name{
    color: #636363;
    font: 14px/20px 'Roboto-Regular';
    margin: 15px 0 10px;
}

.product__desc{
    color: #838383;
    font: 12px/18px 'Roboto-Regular';
}

.product__desc-link{
    color: #006a39;
    text-decoration: none;
    display: block;
    font: 12px 'Roboto-Regular';
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.product__middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}

.product__pay{
    display: flex;
}

.product__pay-btn{
    width: 100px;
    border: 1px solid #e77c13;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    color: #e77c13;
    font: 12px/33px 'AvenirNextCyr-Medium';
}

.product__price-main{
    color: #4f4f4f;
    font: 22px 'Roboto-Bold';
}

.product__price-old{
    color: #aaaaaa;
    font: 14px 'Roboto-Bold';
}

.product__types{
    display: flex;
    flex-wrap: wrap;
    font: 14px 'Roboto-Regular';
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}

.product__types-title{
    font: 14px 'Roboto-Regular';
    color: #636363;
    width: 100%;
    margin-bottom: 10px;
}

.product__type{
    padding: 5px 10px;
    background: #f2f2f2;
    border-radius: 5px;
    color: #636363;
    text-decoration: none;
    margin-right: 10px;
}

.product__type:last-child{
    margin-right: 0;
}

.product__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__left{
    display: flex;
}

.svg__cart, .svg__compare, .svg__like {
    width: 30px;
    height: 30px;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    position: relative;
}

.svg__like svg, .svg__compare svg, .svg__cart svg {
    position: relative;
    min-width: 20px;
    height: 16px;
    fill: #7c7c7c;
}

.svg__like.active, .svg__compare.active, .svg__cart.active {
    border-color: #006a39;
}

.svg__like.active svg, .svg__compare.active svg, .svg__cart.active svg {
    fill: #006a39;
}

.svg__like svg{
    top: 1px;
}

.svg__compare svg{
    left: 1px;
}


.product__stock{
    display: flex;
    align-items: center;
    font: 14px 'Roboto-Regular';
    color: #636363;
}

.product__stock-check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: #999999;
    border-radius: 50%;
    margin-right: 10px;
}


.active .product__stock-check{
    background: #b2d235;
}

.product__stock-check svg{
    width: 8px;
    height: 7px;
    fill: white;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px 'Roboto-Regular';
    margin-top: 55px;
}

.pagination__first{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    background: #e77c13 url("../images/arr-white.svg") center center no-repeat;
    background-size: 10px;
    transform: rotate(180deg);
    transition: 0.4s;
}

.pagination__first:hover{
    box-shadow: 0 0 5px #e77c13;
}

.pagination__first:active,
.pagination__first:focus{
    box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.39);
}

.pagination__item{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #636363;
}

.pagination__item.active{
    background: #b2d235;
    color: white;
}

.pagination__last{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e77c13;
    margin-left: 15px;
    background: #e77c13 url("../images/arr-white.svg") center center no-repeat;
    background-size: 10px;
    transition: 0.4s;
}

.pagination__last:hover{
    box-shadow: 0 0 5px #e77c13;
}

.pagination__last:active,
.pagination__last:focus{
    box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.39);
}


.minerals{
    padding-top: 155px;
    padding-bottom: 245px;
    background: url("../images/bg4-2.png") center center no-repeat, url("../images/bg3.png") top center no-repeat #fafafa;
    color: white;
    text-align: center;
}

.minerals__title{
    color: white;
}

.minerals__title h2:before{
    background: #257f39;
}

.minerals__subtitle{
    font: 18px 'Roboto-Medium';
    margin-top: 45px;
    margin-bottom: 25px;
}

.minerals__desc{
    font: 14px/20px 'Roboto-Regular';
    max-width: 800px;
    margin: 0 auto;
}

.minerals__btn{
    margin-top: 25px;
    display: inline-block;
    font: 14px/50px 'AvenirNextCyr-Demi';
    text-decoration: none;
    text-transform: uppercase;
    background: #e77c13;
    border-radius: 25px;
    width: 220px;
    color: white;
    transition: 0.4s;
}

.minerals__btn:hover{
    box-shadow: 0 0 5px #e77c13;
}

.minerals__btn:active,
.minerals__btn:focus{
    box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.39);
}


.about{
    background: #fafafa;
    margin-top: -15px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.about__left{
    min-width: 520px;
    height: 675px;
}

.about__right{
    font: 14px/19px Arial;
    padding-top: 75px;
    padding-left: 50px;
}



.certificate{
    background: #fafafa url("../images/bg4.png") top center no-repeat;
    padding-top: 199px;
    padding-bottom: 218px;
}

.certificate__title{
    color: white;
}

.certificate__title h2:before{
    background: #257f39;
}

.certificate__categories{
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    margin: 60px auto;
    font: 14px 'Roboto-Regular';
}

.certificate__category{
    width: 100%;
    max-width: 275px;
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #636363;
}

.certificate__slider{
    font: 14px 'Roboto-Regular';
    margin: 0 -20px;
    width: auto !important;
}

.certificate__item{
    width: 100%;
    max-width: 275px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 25px;
}

.certificate__item img{
    max-width: 120px;
}

.certificate__txt{
    text-align: center;
    color: #636363;
    margin-top: 10px;
    line-height: 20px;
}


.news{
    background: #fafafa;
    padding-bottom: 35px;
}

.news__items{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.news__item{
    max-width: 370px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
}

.news__img img{
    width: 100%;
}

.news__desc{
    padding: 20px;
}

.news__category{
    color: #838383;
    margin-bottom: 5px;
    font: 14px/20px 'Roboto-Regular';
    text-transform: uppercase;
}

.news__date{
    color: #808080;
    font: 14px/20px 'Roboto-Medium';
    margin-bottom: 10px;
}

.news__item-title {
    color: #636363;
    font: 14px/20px 'Roboto-Medium';
    margin: 0 0 10px;
}

.news__txt {
    color: #838383;
    font: 14px/20px 'Roboto-Regular';
}

.news__link a{
    color: #006a39;
    text-decoration: none;
    display: block;
    font: 12px 'Roboto-Medium';
    margin-top: 5px;
    margin-bottom: 5px;
}

.news__more{
    display: flex;
    justify-content: center;
}

.news__more-btn{
    margin-top: 25px;
    display: inline-block;
    font: 14px/50px 'AvenirNextCyr-Demi';
    text-decoration: none;
    text-transform: uppercase;
    background: #e77c13;
    border-radius: 25px;
    width: 265px;
    color: white;
    text-align: center;
    transition: 0.4s;
}

.news__more-btn:hover{
    box-shadow: 0 0 5px #e77c13;
}

.news__more-btn:active,
.news__more-btn:focus{
    box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.39);
}


.footer{
    padding-top: 215px;
    padding-bottom: 30px;
    background: #fafafa url("../images/bg-footer.png") center bottom no-repeat;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__left{
    max-width: 370px;
    color: white;
    font: 14px 'Roboto-Regular';
}

.footer__logo{
    max-width: 200px;
    margin-bottom: 20px;
}

.footer__logo img{
    width: 100%;
}

.footer__right{
    max-width: 715px;
    width: 100%;
    margin-left: 45px;
}

.header__inner-right{
    display: flex;
    align-items: center;
}

.politics{
    margin-top: 20px;
    color: white;
    display: inline-block;
}

.footer__right-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__right-col{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.footer__right-col:last-child{
    margin-bottom: 0;
}

.footer__right-link{
    font: 14px 'Roboto-Bold';
    color: #247f38;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer__right-sub-link{
    font: 14px 'Roboto-Regular';
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer__right-row:first-child .footer__right-col:first-child > a{
    margin-bottom: 10px;
}

.footer__right-row .footer__right-col > a:last-child{
    margin-bottom: 0 !important;
}

.footer__right-mail{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font: 18px 'Roboto-Medium';
}

.mail-img{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.mail-img svg{
    width: 12px;
}

.footer__right-phone{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font: 18px 'Roboto-Medium';
}

.footer__social{
    display: flex;
    margin-top: 15px;
}

.footer__social-i {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-i.facebook svg{
    width: 40px;
    height: 40px;
    fill: #23589b;
}

.footer__social-i.instagram svg{
    width: 20px;
    fill: #c13584;
}

.footer__social-i.youtube svg{
    width: 20px;
}

.mobile{
    display: none;
}

.mobile-menu{
    display: none;
}

.about__right-btn{
    display: none;
}

.footer-bottom-mob{
    display: none;
}

.footer__right--mobile{
    display: none;
}

@media (max-width: 1200px) {
    .container{
        padding: 0 15px;
    }

    .news__item {
        max-width: 320px;
    }

    .home-top__img{
        background-size: contain;
    }

    .certificate__slider{
        margin: 0;
    }

    .certificate__item {
        width: 100%;
        max-width: 95%;
    }
}



@media (max-width: 992px) {
    .mobile-menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        background: url("../images/menu-png.png") center center no-repeat;
        background-size: 23px 16px;
        width: 50px;
        height: 50px;
        border: 1px solid #006a39;
        border-radius: 3px;
    }

    .mobile-menu.open{
        background: url("../images/menu-close-png.png") center center no-repeat;
        background-size: 17px 17px;
    }

    .mobile{
        display: block;
    }

    .header__inner-right{
        position: absolute;
        top: 81px;
        left: 0;
        transform: translateY(-150%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: url("../images/menu-bg.png") center bottom no-repeat;
        background-size: contain;
        transition: 0.5s;
        z-index: 10;
        padding-bottom: 75px;
        opacity: 0;
    }

    .header__inner-right.open{
        transform: translateY(0);
        opacity: 1;
    }

    .header__inner-right > div{
        background: white;
    }

    .header__right {
        width: 100%;
        justify-content: center;
        padding: 20px 0 35px;
    }

    .header__menu{
        width: 100%;
    }

    .header__cart-count {
        top: -14px;
        right: -11px;
        font: 10px/8px 'AvenirNextCyr-Demi';
        width: 17px;
        height: 17px;
        color: white;
    }

    .header__menu-link {
        color: #1a7447;
    }

    .header__menu-link {
        font: 20px 'AvenirNextCyr-Demi';
    }

    .has-submenu .header__menu-link:after {
        top: 8px;
    }

    .header__like svg, .header__compare svg, .header__cart svg {
        min-width: 22px;
        height: 19px;
    }

    .header__cart, .header__compare, .header__like {
        width: 40px;
        height: 40px;
    }

    .header__menu-items{
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .header__language{
        order: 10;
        margin: 0;
    }

    .header__menu-item:after{
        display: none;
    }

    .header__menu-item{
        margin-bottom: 20px;
        text-align: center;
    }

    .header{
        border-bottom: 1px solid #e6e6e6;
    }

    .submenu{
        position: relative;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        z-index: 1;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        transform: translateY(0);
    }

    .open > .submenu{
        padding: 15px 20px;
        max-height: 1000px;
        overflow: hidden;
    }


    .home-top {
        background: #fafafa url(../images/top-bg.png) bottom center no-repeat;
        padding-top: 180px;
        padding-bottom: 176px;
    }

    .home-top__img{
        background: transparent;
        display: none;
    }

    .home-top__form-left{
        display: none;
    }

    .home-top__form-caption,
    .home-top__form-percent{
        text-align: center;
        margin: 0 auto;
        max-width: 290px;
        margin-top: 20px;
    }

    .home-top__form-title span{
        display: block;
        margin-bottom: 5px;
    }

    .home-top__form-title{
        margin-bottom: 5px;
    }

    .home-top__form-subtitle {
        max-width: 300px;
        margin: 0 auto;
        line-height: 20px;
    }

    .home-top__form-right form{
        flex-direction: column;
    }

    .home-top__form-btn {
        padding: 0 35px;
    }

    .home-top__form-input{
        margin-bottom: 20px;
        max-width: 260px;
    }

    .home-top__title{
        font: 50px 'MuseoSansCyrl-300';
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .home-top__list-item{
        font: 20px 'Roboto-Regular';
        margin-left: 40px;
        padding-bottom: 20px;
    }

    .home-top__list-item:first-child:after {
        top: 6px;
    }

    .home-top__list-item:nth-child(2):after {
        top: 5px;
    }

    .home-top__list-item:nth-child(3):after {
        top: 6px;
    }

    .home-top__list-item:nth-child(4):after {
        top: 5px;
    }

    .home-top__list-item:nth-child(5):after {
        top: 5px;
    }

    .home-top__form-wrap{
        max-width: 550px;
    }

    .news__item:nth-child(n+3){
        display: none;
    }

    .news__items{
        justify-content: space-around;
    }

    .advantage {
        padding-bottom: 250px;
    }

    .advantage__item {
        max-width: calc(50% - 30px);
        margin-bottom: 20px;
    }

    .catalog {
        padding-top: 20px;
    }

    .catalog__nav-views{
        display: none;
    }

    .product {
        width: calc(33% - 20px);
    }

    .site-title {
        font: 26px 'MuseoSansCyrl-300';
    }

    .about__left{
        display: none;
    }

    .about__right{
        padding: 0;
    }

    .footer {
        background: #a5d30f url(../images/bg-footer.png) center top no-repeat;
    }

    .footer__inner{
        flex-direction: column;
    }

    .footer__right {
        margin-left: 0;
        margin-top: 30px;
    }

    .certificate__category {
        width: 100%;
        max-width: 250px;
    }

}



@media (max-width: 800px) {

    .catalog {
        padding-bottom: 50px;
    }

    .certificate {
        padding-top: 140px;
        padding-bottom: 180px;
    }

    .certificate__categories{
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
    }

    .certificate__category {
        width: 100%;
        max-width: 320px;
        margin-bottom: 20px;
    }

    .certificate__category:last-child{
        margin-bottom: 0;
    }

}



@media (max-width: 700px) {

    .catalog__nav{
        flex-direction: column;
        align-items: center;
    }

    .catalog__nav-left{
        margin-bottom: 20px;
    }

    .catalog__category{
        width: calc(50% - 20px);
        margin: 10px;
    }

    .catalog__category:nth-last-child(2),
    .catalog__category:nth-last-child(1){
        margin-bottom: 0;
    }

    .product {
        width: calc(50% - 20px);
    }

    .certificate {
        padding-bottom: 210px;
    }

    .news__item:nth-child(n+2) {
        display: none;
    }

    .minerals {
        padding-bottom: 175px;
    }


}

@media (max-width: 580px) {
    .home-top__title {
        font: 45px 'MuseoSansCyrl-300';
        margin-bottom: 30px;
        margin-left: 0;
    }

    .home-top__img-block {
        margin-bottom: 40px;
    }

    .home-top__list-item {
        margin-left: 5px;
        font: 16px 'Roboto-Regular';
    }

    .home-top__form-wrap:before {
        content: "";
        position: absolute;
        top: -8px;
        left: -8px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: white;
    }

    .home-top__form {
        padding: 30px;
    }

    .about__inner{
        flex-direction: column;
    }

    .about__right-btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about__right{
        max-height: 325px;
        overflow: hidden;
        transition: 0.3s;
    }

    .about__right.open{
        max-height: 1500px;
    }

    .footer__left .politics,
    .footer__left .footer__social{
        display: none;
    }

    .footer__right-row{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer-bottom-mob{
        display: block;
    }

    .footer__right{
        display: none;
    }
    .footer__right--mobile{
        display: block;
    }

    .home-top__title:before {
        width: 25px;
        height: 25px;
        top: -5px;
        left: -10px;
    }

    .site-title h2:before {
        top: -5px;
        left: -11px;
        width: 25px;
        height: 25px;
    }


}

@media (max-width: 480px) {

    .header{
        background: white;
    }

    .header__inner {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .home-top {
        background: #ffffff url(../images/bg-mob-top.png) bottom center no-repeat;
        padding-top: 120px;
        padding-bottom: 125px;
    }

    .advantage__item {
        max-width: calc(100% - 30px);
        margin-bottom: 20px;
    }

    .product {
        width: calc(100% - 20px);
    }

    .site-title {
        font: 23px 'MuseoSansCyrl-300';
    }

    .advantage{
        background: #ffffff url(../images/bg-mob-1.png) center 109% no-repeat;
        padding-bottom: 90px;
    }

    .catalog {
        padding-top: 0;
        padding-bottom: 0;
    }

    .catalog__nav-sort{
        flex-wrap: wrap;
        justify-content: center;
    }

    .catalog__nav-sort span{
        width: 100%;
        margin: 0 0 10px;
        text-align: center;
    }

    .catalog__nav-left-btn:last-child {
        margin-left: 10px;
    }

    .catalog__nav-sort-link + .catalog__nav-sort-link {
        margin-left: 10px;
    }

    .catalog__nav-left-btn {
        width: 118px;
        text-align: center;
        font: 13px/42px 'AvenirNextCyr-Medium';
    }

    .catalog__nav-sort-link {
        width: 92px;
        text-align: center;
        font: 12px/37px 'Roboto-Regular';
    }

    .catalog__category {
        width: calc(100% - 20px);
        margin: 0 10px 10px;
    }

    .catalog__category:nth-last-child(2) {
        margin-bottom: 10px;
    }

    .products {
        margin: 20px -10px 5px;
    }

    .pagination {
        margin-top: 0;
    }

    .minerals{
        background: #fafafa url("../images/bg-mob-2.png") top center no-repeat;
    }

    .certificate {
        background: url('../images/bg-mob-4.png') top center no-repeat, url("../images/bg-mob-5.png") bottom center no-repeat #fafafa;
        padding-bottom: 100px;
    }

    .certificate__title {
        color: #555555;
    }

    .certificate__title h2:before {
        background: #b2d235;
    }

    .certificate__item{
        margin-bottom: 10px;
    }

    .certificate__item,
    .certificate__category {
        box-shadow: 3px 3px 6px #0000000f;
    }

    .footer {
        background: #b2d600 url('../images/bg-mob-footer.png') center top no-repeat;
        padding-top: 150px;
    }

    .news{
        padding-bottom: 0;
    }
}
