
@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('AvenirNextCyr-Medium.woff') format('woff'), url('AvenirNextCyr-Medium.ttf')  format('truetype'), url('AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
